.svg-ico {
	display: inline-block;
	vertical-align: middle;
	fill: currentColor;
	stroke: currentColor;
}

.svg-ico_no_fill {
	fill: none !important;
}

.svg-ico_no_stroke {
	stroke: none !important;
}

.u-text {
	color: inherit;
	text-decoration: none;
	font-size: inherit;
	background: inherit;
}
