@use "sass:math";

@import "dev/scss/helpers/variables";
@import "dev/scss/helpers/mixins";

.inter-list {
	display: flex;
	flex-direction: row;

	&__actions {
		display: flex;
		align-items: center;
		opacity: 1;
		transition: opacity 0.3s ease-in-out;

		&_hidden {
			display: none;
			// position: absolute;
			// top: 50%;
			// right: 169px;
			// transform: translate(0, -50%);
			// opacity: 0;
			// z-index: -1;
		}
	}
}

.inter-list__item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: auto !important;
	min-height: 46px;
	padding: 0 9px;

	&-search {
		position: relative;

		&_visible {
			flex: 1 1 auto;
			justify-content: flex-start;

			.search-form__btn {
				display: block;
			}
		}
	}

	.svg-ico {
		width: 24px;
		height: 24px;
	}

	.inter-list__btn {
		position: relative;
		text-decoration: none;
		color: $color-text;
		gap: 4px;
		z-index: 2;

		.c-text {
			line-height: 16px;
			font-size: 12px;
			font-weight: 400;
		}
	}

	.inter-list__btn_size_sm {
		min-height: 50px;
		border-right: 1px solid $color-light_gray;

		.c-text {
			font-size: 11px;
			line-height: 15px;
		}
	}
}

/**
* Md
*/

@media (min-width: $bp-md) {
	.inter-list__item {
		border-right: 1px solid $color-light_gray;
		margin: 0;
		min-height: 55px;
		padding: 0 18px;

		.inter-list__btn {
			.c-text {
				line-height: 19px;
				font-size: 14px;
			}
		}

		.inter-list__btn-autorize {
			font-size: 12px;
			line-height: 16px;
		}
	}
}

@media (min-width: $bp-lg) {
	.inter-list {
		justify-content: flex-end;
	}
}

/**
* Xl
*/

@media (min-width: $bp-xl) {
	.inter-list__item {
		border-right: 0;
		border-left: 1px solid $color-light_gray;
		min-height: 64px;
	}
}
